<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>

        <form >


            <div>
                <input type="text" placeholder="Email" id="'email" class="'email">
            </div>
            <div>
                <input type="password" placeholder ='Password' id="pass" class="pass">  
            </div>
        </form>
        <button>Submit</button>

        <p>Create account <a href="/signup"> signup</a></p>
    </div>
    
</body>
</html>