<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <h1 > signup</h1>
    <div>

        <form action ='/signup' method="POST">


            <div>

                <input type="text" class="Name" id="Name" placeholder="Name"  >


            </div>
            <div>
            <input type="text"  class="email"  id="email" placeholder="Email">
</div>

<div>

    <input type="password"  class ="pass" id="pass" placeholder="Password">
</div>
        </form>
        <button> Submit</button>

        <p>Login <a href="/login"> click here</a></p>
    </div>
</body>
</html>